files:
  "/tmp/setup-static-files.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkdir -p /var/app/current/static
      cp -R /var/app/current/src/main/resources/* /var/app/current/static/
      chmod -R 755 /var/app/current/static

commands:
  01_setup_static_files:
    command: "/tmp/setup-static-files.sh"
    ignoreErrors: false
